.footer {
    margin-top: rem(120px);
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);

@media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
}
}

.logo {
    width: 50px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    order: 2; /* Ensure logo is on the opposite side */
    margin-left: auto; /* Push the logo to the end in flexbox */

@media (max-width: var(--mantine-breakpoint-xs)) {
    margin-left: 0;
    margin-top: var(--mantine-spacing-md);
}
}

.links {
@media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
}
}
